html
    width 100%
    height 100%

*
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

body
    width 100%
    height 100%
    font-size 17px
    background #f2f2f2
    border 1px solid #363636
    padding-top $headerHeight
    font-family 'Open Sans', sans-serif
    font-weight 400
    overflow-x hidden
    -webkit-overflow-scrolling touch

body.dropping
    background #000
