@font-face
    font-family 'poppins'
    src url('fonts/poppins/Poppins-Regular.ttf') format('truetype')
    font-weight normal

@font-face
    font-family 'poppins-bold'
    src url('fonts/poppins/Poppins-Bold.ttf') format('truetype')
    font-weight bold

font-regular()
    font-family 'poppins', sans-serif

font-bold()
    font-family 'poppins-bold', sans-serif
