.header
    background #294546
    position fixed
    height $headerHeight
    top 0
    left 0
    right 0
    z-index 999
    -webkit-app-region drag

.header__title
    color #fff
    font-weight 700
    font-size 19px
    text-shadow none
    font-family 'poppins-bold', sans-serif
    text-transform uppercase
    position absolute
    top 52%
    transform translateY(-50%)
    left 20px

.header__exit
.header__minimise
    display block
    position absolute
    font-size 14px
    height 100%
    color #EDEDED
    -webkit-app-region no-drag
    width 26px
    right 55px
    top 0

    .fa
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

.header__exit
    width 45px
    right 10px

    .fa
        top 47%
