.page
    position absolute
    left 0
    right 0
    bottom 0
    top $headerHeight
    display none
    padding-top 20px
    border 1px solid #294546

.page--active
    display block

h2
    font-family 'poppins-bold', sans-serif
    text-align center
    font-size 22px

p.intro
    text-align center
