.page
    position absolute
    left 0
    right 0
    display none
    padding-top 20px

.page--active
    display block

.page--no-scroll
    overflow-y hidden
    bottom 0

h2
    font-family 'poppins-bold', sans-serif
    text-align center
    font-size 22px

p.intro
    text-align center
